html, body {
	height: 100%;
}

.dividing-line {
	height: 1px;
	border-top: 1px solid #999;
	text-align: center;
	margin: 1em auto;
}

.vertical-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.select {
	font-size: 15px;
	color: #6f6f6f;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*
 * header
 */
.navbar {
	margin-bottom: 0;
}

.navbar > .container-fluid {
	padding-right: 0;
}

.brand-logo {
	display: inline-block;
}

/*
 *  ---- main body ---
 */
#main {
	padding-top: 1em;
}

/*
 * Navbar left
*/

#nav-left {
	margin-bottom: -4000px;
	padding-bottom: 4000px;
	background-color: #333;
	color: #fff;
	overflow-y: hidden;
}

#nav-left .projects {
	text-align: center;
}

#nav-left .projects .proj {
	margin-top: 1em;
}

#nav-left .projects .proj:after {
	content: '';
	display: block;
	width: 50%;
	height: 1px;
	border-bottom: solid #555 1px;
	margin: 0.3em auto;
	overflow: hidden;
}

#nav-left .projects .proj a {
	color: #fff;
}

#proj-add {
	margin-top: 2em;
}

#proj-add a:hover {
	background: #333;
	color: #fff;
	border: solid 1px #fff;
}

/* left nav ul */
#nav-ul a {
	color: #fff;
}

#nav-ul .list-group-item {
	background: #333;
	border: 0;
}

#nav-ul .active {
	background-color: #469bcd;
	color: #fff;
}

/*
 excel
*/

#drop {
	border: 2px dashed #bbb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold, "Vollkorn";
	color: #bbb
}

/*#b64data {*/
/*width: 100%;*/
/*}*/

.file-upload {
	display: block;
	position: relative;
	float: left;
	width: 75px;
	height: 36px;
}

.file-upload span {
	display: inline-block;
}

.file-upload .input-hidden {
	position: absolute;
	display: inline-block !important;
	top: 0;
	left: 0;
	width: 75px;
	height: 36px;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*
* query search
*/
#query-conditions .form-group {
	margin-bottom: 5px;
}

#query-conditions .control-label {
	padding: 0.8em 0 0 0;
}

#query-conditions .select-sm {
	height: 36px;
}

/*
* analysis echarts
*/
.echarts {
	height: 400px;
	padding-top: 10px;
}

/*
 * footer
 */
.footer {
	bottom: 0;
	width: 100%;
	position: fixed;
	height: 10%;
	background: #222;
	color: #fff;
}

.footer .center p {
	text-align: center;
	margin: 0.3em;
}